.container {
    margin-top: 10px; 
}

.auth {
    border: 1px solid gray;
    width: 50%;
    margin: auto;
    padding: 1em;
    text-align: center
}

tr td:first-child {
    text-align: right; 
}
/* iPad mini 768 */
@media (min-device-width: 768px) and (max-device-width: 979px) {
    .container, .ui-dialog {
        font-size: 125%;
    }
    label, input, button, select, textarea, .btn {
        font-size: 115%;
    }
    label {
        line-height: 115%;
    }
}
/* Android phone 480 */
@media (max-device-width: 767px) {
    .container, .ui-dialog {
        font-size: 200%;
    }
    label, input, button, select, textarea, .btn {
        font-size: 115%;
    }
    label, p, .ui-dialog, .table td {
        line-height: 115%;
    }
    .btn {
        padding: 8px 24px;
    }
    .table th, .table td, .ui-widget button {
        padding: 16px;
    }
}